{
  "presets": [
    [
      "@babel/preset-env",
      {
        "debug": false,
        "exclude": [],
        "include": [],
        "loose": true,
        "modules": "commonjs",
        "spec": false,
        "targets": {},
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": { "config": "./config", "modules": "./modules" }
      }
    ],
    "@babel/plugin-proposal-optional-chaining"
  ]
}
